<div class="" name="mainContent">
	<div class="col-sm-4 lMain">
		<div name="contactActions">
			<a ng-click="openAddPatientPopup()" name="adduser" href="#"><span>AddUser</span></a>
		</div>
		<div ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Contacts">
						<md-content class="md-padding">
							<p>one</p>
						</md-content>
					</md-tab>
					<md-tab label="Groups">
						<md-content class="md-padding">
							<p>two</p>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</div>

	<div class="col-sm-8 rMain">

	</div>
</div>