<form id="frmSignup" name ="frmSignup">
	<div class="form-group" >
	<div class="form-group">
		<input ng-model="user.email" placeholder="Email" class="form-control" name ="email" />
	</div>
	<div class="form-group">
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control" name="password" />
	</div>
    <div class="form-group">
        <input type="password" ng-model="user.confirmPassword" placeholder="Retype Password" class="form-control" name="confirmPassword" />
    </div>
	<div class="form-group">
		<input type="button" value="Continue with Email" class="btn btn-success" ng-click="signUpByEmail()" />
	</div>

    <div class="errMessage alert-danger" ng-show="isError" style="background-color:#fff;">
        <p>{{errMessage}}</p>
    </div>

</div>
</form>


<script>
	$(document).ready(function() {
    $('#frmSignup').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            email:{
            	validators: {
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'The value is not a valid email address'
                        }
                    }
            }
        }
    });

   
});

</script>