
<div class="container" ng-controller="SignInCtrl">

  <div class="row">
    <div class="col-sm-4" id="lMainContent">
    </div>

    <div class="col-sm-8" id="rMainContent">
        <fieldset class="login-border">
          <legend class="login-border">Log in</legend>
          <div class="form-group"> 
            <div class="form-group">
                <input ng-model="user.username" placeholder="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="user.remember" /> <label>Remember me?</label>
            </div>
            <div class="errMessage alert-danger" ng-show="isError" style="background-color:#fff;">
                <p>{{errMessage}}</p>
            </div>
            <div class="form-group isLoading" ng-show="isLoading">
                <img src="http://www.vascoscs.net/cartera/images/loading.gif" />
            </div>
            <div class="form-group">
                <input type="button" value="Login" class="btn btn-success" ng-click="loginByEmail()" ng-disabled="isLoading" />
            </div>
            <p>--------------------------------or-------------------------------</p>

            <div class="form-group">
              <input type="button" value="Log in by Google" class="btn btn-danger" ng-click="loginByGoogle()" />
          </div>
          <div class="form-group">
              <input type="button" value="Log in by LinkedIn" class="btn btn-primary" ng-click="loginByLinkedIn()" />
          </div>

      </div>
  </fieldset>
</div>
</div>

</div>





