<div class="container well">
	<h3 class="header">About</h3>
	<div class="row">
		<div class="col-sm-3">
			<img src="/images/profile.png" id="imgProfile" class="img-rounded" alt="profile picture" width="100%"/>
		</div>
		<div class="col-sm-9">
			<div class="panel-group">
				<div class="panel panel-info">
			      <div class="panel-heading">Overview</div>
			      <div class="panel-body">
			      		<div class="row">
			      			<div class="col-sm-9">
			      			Truong Thi Ba
			      			</div>
			      			<div>
			      			<div class="col-sm-3">
			      				<button type="button" class="btn btn-default btn-sm">
						          	<span class="glyphicon glyphicon-edit"></span>
						        </button>
			      			</div>
			      			</div>
			      		</div>
			      		
			      		<div class="row">
			      			<div class="col-sm-9">
			      			Gender
			      			</div>
			      			<div>
			      			<div class="col-sm-3">
			      				<button type="button" class="btn btn-default btn-sm">
						          	<span class="glyphicon glyphicon-edit"></span>
						        </button>
			      			</div>
			      			</div>
			      		</div>
			      	</div>
			    </div>
				<div class="panel panel-info">
			      	<div class="panel-heading">Work</div>
			      	<div class="panel-body">
			      		<div name="officeAddress">
			      			<div class="row section-header">
				      			<div class="col-sm-9">
				      				<label>Office address</label>
				      			</div>
				      			<div class="col-sm-3">
				      				<button type="button" class="btn btn-default btn-sm">
							          	<span class="glyphicon glyphicon-plus"></span>
							        </button>
				      			</div>
			      			</div>
			      		</div>
			      		
			      		<div name="officePhoneNumber">
				      		<div class="row section-header">
				      			<div class="col-sm-9">
				      				<label>Office phone number</label>
				      			</div>
				      			<div>
				      			<div class="col-sm-3">
				      				<div addbuttonsbutton >
							        </div>
				      			</div>

				      			</div>
				      		</div>
				      		<div class="row">
				      			<div id="space-for-lst-phone"></div>
				      		</div>
				      		<div class="row">
				      			<div id="space-for-add-info"></div>
				      		</div>
				      	</div>

				      	<div name="medicalEducation">
				      		<div class="row section-header">
				      			<div class="col-sm-9">
				      				<label>Medical education</label>
				      			</div>
				      			<div>
				      			<div class="col-sm-3">
				      				<button type="button" class="btn btn-default btn-sm">
							          	<span class="glyphicon glyphicon-plus"></span>
							        </button>
				      			</div>
				      			</div>
				      		</div>
			      		</div>

			      		<div name ="distinctions">
				      		<div class="row section-header">
				      			<div class="col-sm-9">
				      				<label>Awards/Distinctions</label>
				      			</div>
				      			<div>
				      			<div class="col-sm-3">
				      				<button type="button" class="btn btn-default btn-sm">
							          	<span class="glyphicon glyphicon-plus"></span>
							        </button>
				      			</div>
				      			</div>
				      		</div>
			      		</div>
			      	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
